# DAYCON COIN TRADER

### 암호화폐 가격 예측

#### 10가지 종류의 암호화폐 가격을 예측하여 가장 수익율이 높은 모델 만들기

#### 데이터셋

- **train_x_df** : 임의의 시점부터 2020년 12월 31일까지 10가지 종류의 암호화폐 분단위 정보를 가공한 데이터

- **train_y_df** : 임의의 시점부터 2020년 12월 31일까지 10가지 종류의 암호화폐 분단위 가격정보를 가공한 데이터

- **test_x_df** : 2021년 1월 1일부터 임의의 시점까지 10가지 종류의 암호화폐 분단위 가격정보를 가공한 데이터


- 학습용 데이터는 10가지 종류의 코인을 포함하는 7362가지의 sample이 담겨있으며 train_x_df는 입력 23시간 동안의 분단위 데이터, train_y_df는 출력 2시간 동안의 분단위 데이터이다.

- test_x는 train_x과 동일한 구성을 갖는 529가지의 sample을 의미하며 해당 sample_id에 대해 매수량(buy_quantity)와 매도 시점(sell_time)을 결정해야한다.

### 파일 불러오기

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data_path = 'D:/portfolio/open'
train_x_df = pd.read_csv(data_path + '/train_x_df.csv')
train_y_df = pd.read_csv(data_path + '/train_y_df.csv')
test_x_df = pd.read_csv(data_path + '/test_x_df.csv')

In [3]:
train_x_df.head()

,sample_id,time,coin_index,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av
0,0,0,7,1.010004,1.010004,1.009612,1.010004,8.382875e+05,43160.632812,451.157288,7.326834e+05,37725.183594
1,0,1,7,1.009808,1.009808,1.009808,1.009808,1.622420e+05,8352.220703,39.231071,0.000000e+00,0.000000
2,0,2,7,1.009808,1.010200,1.009808,1.010200,1.664967e+04,857.377808,58.846603,1.664967e+04,857.377808
3,0,3,7,1.010200,1.011181,1.010200,1.011181,2.586971e+06,133310.343750,431.541779,2.189147e+06,112811.046875
4,0,4,7,1.010985,1.010985,1.010200,1.010200,1.129996e+06,58216.867188,176.539810,0.000000e+00,0.000000

In [4]:
train_y_df.head()

,sample_id,time,coin_index,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av
0,0,0,7,1.000392,1.000588,1.000392,1.000588,8.305119e+05,42356.179688,137.308746,8.305119e+05,42356.179688
1,0,1,7,1.000588,1.001177,1.000392,1.001177,5.320066e+05,27140.638672,294.233032,4.882738e+05,24909.861328
2,0,2,7,1.001177,1.001177,1.001177,1.001177,5.113770e+05,26100.681641,58.846603,5.113770e+05,26100.681641
3,0,3,7,1.001177,1.001373,1.001177,1.001373,1.134853e+06,57929.410156,137.308746,1.095514e+06,55921.156250
4,0,4,7,1.000981,1.000981,0.999804,1.000196,5.801173e+06,295872.343750,666.928162,9.911239e+05,50528.589844

In [5]:
test_x_df.head()

,sample_id,time,coin_index,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av
0,0,0,7,1.003541,1.007110,1.003541,1.006090,486928.96875,182543.687500,332.671570,287449.968750,107758.375000
1,0,1,7,1.006117,1.006331,1.004829,1.005634,824485.37500,309019.750000,407.790955,560290.250000,210005.125000
2,0,2,7,1.005929,1.005983,1.004266,1.005366,478614.56250,179301.843750,276.332031,214270.265625,80283.554688
3,0,3,7,1.005044,1.005956,1.004910,1.005795,334366.84375,125305.117188,166.335785,56401.246094,21135.490234
4,0,4,7,1.005580,1.006466,1.005285,1.005929,560916.68750,210316.796875,303.160370,138711.703125,52010.964844

### 변수 설명

|<center>변수명|<center>변수설명|
|:------:|:-------:|
|<center>**sample_id**| <center>개별 샘플의 인덱스|
|<center>**time**|<center>x_df는 0분 ~ 1379분, y_df는 0분 ~ 119분의 값. 동일한 샘플 내 시간 정보|
|<center>**coin_index**|<center>10가지 종류의 코인에 대한 비식별화 인덱스 (0 ~9)|
|<center>**open**|<center>open price|
|<center>**high**|<center>high price|
|<center>**low**|<center>low price|
|<center>**close**|<center>close price|
|<center>**volume**|<center>거래량|
|<center>**quote_av**|<center>quote asset volume|
|<center>**trades**|<center>거래 건 수|
|<center>**tb_base_av**|<center>taker buy base asset volume|
|<center>**tb_quote_av**|<center>taker buy quote asset volume|

In [6]:
train_x_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10159560 entries, 0 to 10159559
Data columns (total 12 columns):
sample_id      int64
time           int64
coin_index     int64
open           float64
high           float64
low            float64
close          float64
volume         float64
quote_av       float64
trades         float64
tb_base_av     float64
tb_quote_av    float64
dtypes: float64(9), int64(3)
memory usage: 930.1 MB

In [7]:
train_y_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883440 entries, 0 to 883439
Data columns (total 12 columns):
sample_id      883440 non-null int64
time           883440 non-null int64
coin_index     883440 non-null int64
open           883440 non-null float64
high           883440 non-null float64
low            883440 non-null float64
close          883440 non-null float64
volume         883440 non-null float64
quote_av       883440 non-null float64
trades         883440 non-null float64
tb_base_av     883440 non-null float64
tb_quote_av    883440 non-null float64
dtypes: float64(9), int64(3)
memory usage: 80.9 MB

In [8]:
test_x_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730020 entries, 0 to 730019
Data columns (total 12 columns):
sample_id      730020 non-null int64
time           730020 non-null int64
coin_index     730020 non-null int64
open           730020 non-null float64
high           730020 non-null float64
low            730020 non-null float64
close          730020 non-null float64
volume         730020 non-null float64
quote_av       730020 non-null float64
trades         730020 non-null float64
tb_base_av     730020 non-null float64
tb_quote_av    730020 non-null float64
dtypes: float64(9), int64(3)
memory usage: 66.8 MB

In [ ]:
train_x_df.describe()

,sample_id,time,coin_index,open,high,low,close,volume,quote_av,trades,tb_base_av,tb_quote_av
count,1.015956e+07,1.015956e+07,1.015956e+07,1.015956e+07,1.015956e+07,1.015956e+07,1.015956e+07,1.015956e+07,1.015956e+07,1.015956e+07,1.015956e+07,1.015956e+07
mean,3.680500e+03,6.895000e+02,5.495925e+00,1.000988e+00,1.001753e+00,1.000196e+00,1.000980e+00,7.657862e+05,4.268907e+04,1.179676e+02,3.647911e+05,2.106137e+04
std,2.125226e+03,3.983716e+02,2.940005e+00,3.895120e-02,3.900216e-02,3.889973e-02,3.892255e-02,9.341042e+06,2.146420e+05,4.936206e+02,5.268894e+06,1.117901e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,8.903663e-02,5.540227e-01,8.903663e-02,5.540227e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.840000e+03,3.447500e+02,4.000000e+00,9.871310e-01,9.878350e-01,9.863969e-01,9.871426e-01,5.047751e-02,3.126231e+01,7.715160e-02,5.671815e-03,1.066213e+01
50%,3.680500e+03,6.895000e+02,6.000000e+00,1.000000e+00,1.000556e+00,9.994500e-01,1.000000e+00,3.231240e+00,3.220208e+02,7.796185e-01,1.039115e+00,1.152704e+02
75%,5.521000e+03,1.034250e+03,8.000000e+00,1.012693e+00,1.013415e+00,1.011950e+00,1.012669e+00,4.258415e+04,1.254463e+04,5.641976e+01,9.016594e+03,4.863686e+03
max,7.361000e+03,1.379000e+03,9.000000e+00,2.066901e+00,4.451831e+00,2.066901e+00,2.066901e+00,7.398036e+09,3.705497e+07,6.257862e+04,7.340513e+09,2.320023e+07

In [ ]:
train_y_df.describe()

In [ ]:
test_x_df.describe()

In [ ]:
train_x_df.shape

### 암호화폐별 분류

- train_x데이터의 시간은 0~1379분까지 고유값은 7362개

- train_y데이터의 시간은 0~119분까지 고유값은 7362개

- test데이터의 시간은 0~1379분까지 고유값은 529개

In [ ]:
def change_array(x) :
    coin_idx = x.iloc[:,2:].shape[1]
    time_idx = len(x.time.value_counts())
    sample_idx = len(x.sample_id.value_counts())
    array_df = x.iloc[:,2:].values.reshape([sample_idx,time_idx,coin_idx])
    return array_df

In [ ]:
train_x_array = change_array(train_x_df)
train_y_array = change_array(train_y_df)
test_x_array = change_array(test_x_df)

암호화폐 10개의 시간(컬럼)별 데이터 정리<br>
(행(sample_idx), 열(시간),분단위 10가지 정보)

In [ ]:
print(train_x_array.shape)
print(train_y_array.shape)
print(test_x_array.shape)

In [ ]:
plt.plot(train_x_array[0,:,1])
plt.show()

In [ ]:
plt.plot(train_x_array[0,:,1])
plt.plot(np.arange(train_x_array.shape[1],train_x_array.shape[1]+train_y_array.shape[1]),train_y_array[0,:,1])
plt.show()